.conversion-container{
    width:100%;
    margin-top:-45px;
    padding: 80px 0 15px 0;
    height:180px;
    background-color:rgb(240, 240, 240);
    border:1px solid #ccc;
    border-radius:2px;
}

.from-container {
    width:49%;
    float:left;
    height:80px;
    background-color:rgb(235, 235, 235);
    text-align:center;
    padding: 8px 0 8px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.from-container input {
    width:80px;
    padding:8px;
    margin:auto;
    display: block;
    clear:both;
}

.to-container {
    width:49%;
    float:right;
    height:80px;
    margin-top:-98px;
    background-color:rgb(235, 235, 235);;
    text-align: center;
    padding: 8px 0 8px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    clear:both;
}

.from-title{
    margin-bottom:15px;

}

.to-title{
    margin-bottom:29px;


}

.switch-button{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width:40px;
    height:40px;
    margin:auto;
    clear:both;
    padding-right:200px;
}

.switch-button img {
    width:40px;
    height:40px;
}

.switch-button img:hover{
    transform: scale(1.05);
    cursor: pointer;
}